<div ng-if="authService.isAnonymous()" class="box">
    <h2>Navigation</h2>
    <ul class="sidebar-menu">
        <li><a href="#/">Home</a></li>
        <li><a href="#/login">Login</a></li>
        <li><a href="#/register">Register</a></li>
    </ul>
</div>

<div class="box" ng-if="authService.isAnonymous()">
    <p>To publish a new ad, please login.</p>
    <a href="#/login" class="button">Login</a>
    <a href="#/register" class="button">Register</a>
</div>

<div ng-if="authService.isNormalUser()" class="box">
    <h2>Navigation</h2>
    <ul class="sidebar-menu">
        <li><a href="#/">Home</a></li>
        <li><a href="#/user/ads">My Ads</a></li>
        <li><a href="#/user/ads/publish">Publish New Ad</a></li>
        <li><a href="#/user/profile">Edit Profile</a></li>
        <li><a ng-click="logout()">Logout</a></li>
    </ul>
</div>

<div ng-if="authService.isAdmin()" class="box">
    <h2>Navigation</h2>
    <ul class="sidebar-menu">
        <li><a href="#/admin/ads">Ads</a></li>
        <li><a href="#/admin/users">Users</a></li>
        <!--<li><a href="#/admin/categories">Categories</a></li>
        <li><a href="#/admin/towns">Towns</a></li>-->
        <li><a ng-click="logout()">Logout</a></li>
    </ul>
</div>

<div ng-if="authService.isAdmin()" class="box">
    <h2>Ads</h2>
    <ul class="sidebar-menu">
        <li ng-class="{'selected': selectedAds == null}">
            <a ng-click="myAdsMenuClick(null); adsTypeClicked(null)" href="">All</a>
        </li>

        <li ng-class="{'selected': selectedAds == 'Published'}">
            <a ng-click="myAdsMenuClick('Published'); adsTypeClicked(2)" href="">Published</a>
        </li>
        <li ng-class="{'selected': selectedAds == 'Waiting Approval'}">
            <a ng-click="myAdsMenuClick('Waiting Approval'); adsTypeClicked(1)" href="">Waiting Approval</a>
        </li>
        <li ng-class="{'selected': selectedAds == 'Inactive'}">
            <a ng-click="myAdsMenuClick('Inactive'); adsTypeClicked(0)" href="">Inactive</a>
        </li>
        <li ng-class="{'selected': selectedAds == 'Rejected'}">
            <a ng-click="myAdsMenuClick('Rejected'); adsTypeClicked(3)" href="">Rejected</a>
        </li>
    </ul>
</div>
