<div class="box">
    <h2>Change Password</h2>
    <p>
        <label for="old-password">Old Password:</label>
        <input type="password" id="old-password" ng-model="adData.oldPassword" required/>
    </p>
    <p>
        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" ng-model="adData.newPassword" required/>
    </p>
    <p>
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" ng-model="adData.confirmPassword" required/>
    </p>
    <p>
        <a ng-click="changeUserPassword(adData)" class="button">Change Password</a>
        <a href="#/user/home" class="button">Cancel</a>
    <p>
</div>