<div class="box">
    <h2>Edit Ad</h2>
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" ng-model="adData.title"/>
    </div>
    <div>
        <label for="text">Text:</label>
        <input type="text" id="text" ng-model="adData.text"/>
    </div>
    <div>
        <label for="category">Category:</label>
        <select id="category" ng-model="adData.categoryId">
            <option value="null">(None)</option>
            <option ng-repeat="c in categories" value="{{c.id}}">{{c.name}}</option>
        </select>
    </div>
    <div>
        <label for="town">Town:</label>
        <select id="town" ng-model="adData.townId">
            <option value="null">(None)</option>
            <option ng-repeat="t in towns" value="{{t.id}}">{{t.name}}</option>
        </select>
    </div>
    <div>
        <label for="image">Image:</label>
        <input ng-model="adData.imageUrl" type="file" id="image" onchange="angular.element(this).scope().fileSelected(this)"/>
        <img ng-src="{{adData.imageDataUrl}}"/><br />
        <a class="button">Delete Image</a>
    </div>
    <div>
        <a ng-click="editUserAds(adData)" class="button">Edit</a>
        <a href="#/user/ads" class="button">Cancel</a>
    </div>
</div>