<div ng-if="authService.isAnonymous()" class="box">
    <h2>Navigation</h2>
    <ul class="sidebar-menu">
        <li class="special selected"><a href="#/">Home</a></li>
    </ul>
</div>

<div class="box" ng-if="authService.isAnonymous()">
    <p>To publish a new ad, please login.</p>
    <a href="#/login" class="button">Login</a>
    <a href="#/register" class="button">Register</a>
</div>

<div ng-if="authService.isNormalUser()">
    <div class="box">
        <h2>Navigation</h2>
        <ul class="sidebar-menu">
            <li><a href="#/user/home">Home</a></li>
            <li><a href="#/user/ads">My Ads</a></li>
            <li><a href="#/user/ads/publish">Publish New Ad</a></li>
            <li><a href="#/user/profile">Edit Profile</a></li>
            <li><a href="#/user/changePassword">Change Password</a></li>
            <li><a ng-click="logout()">Logout</a></li>
        </ul>
    </div>

    <div ng-if='pageTitle === "My Ads"' class="box" ng-controller="UserAdsController">
        <h2>My Ads</h2>
        <ul class="sidebar-menu">
            <li><a href="#/user/ads">All</a></li>
            <li><a ng-click="filterUserAd()" href="#/user/ads/filter/2">Published</a></li>
            <li><a ng-click="filterUserAd()" href="#/user/ads/filter/1">Waiting Approval</a></li>
            <li><a ng-click="filterUserAd()" href="#/user/ads/filter/0">Inactive</a></li>
            <li><a ng-click="filterUserAd()" href="#/user/ads/filter/3">Rejected</a></li>
        </ul>
    </div>
</div>

<div ng-if="authService.isAdmin()" class="box">
    <h2>Administrator</h2>
    <ul class="sidebar-menu">
        <li><a href="#/admin/ads">Ads</a></li>
        <li><a href="#/admin/users">Users</a></li>
        <li><a href="#/admin/categories">Categories</a></li>
        <li><a href="#/admin/towns">Towns</a></li>
        <li><a ng-click="logout()">Logout</a></li>
    </ul>

    <div class="box" ng-controller="UserAdsController">
        <h2>My Ads</h2>
        <ul class="sidebar-menu">
            <li><a href="#/admin/ads">All</a></li>
            <li><a ng-click="filterAdminAd()" href="#/admin/ads/filter/2">Published</a></li>
            <li><a ng-click="filterAdminAd()" href="#/admin/ads/filter/1">Waiting Approval</a></li>
            <li><a ng-click="filterAdminAd()" href="#/admin/ads/filter/0">Inactive</a></li>
            <li><a ng-click="filterAdminAd()" href="#/admin/ads/filter/3">Rejected</a></li>
        </ul>
    </div>
</div>
