<div class="box">
  <h2>Publish New Ad</h2>
  <p>
      <input type="text" id="title" ng-model="adData.title" required />
      <label for="title">Title</label>
  </p>

  <p>
      <input type="text" id="text" ng-model="adData.text" required />
      <label for="text">Text</label>
  </p>

  <p>
      <select id="category" ng-model="adData.categoryId">
          <option value="null">(None)</option>
          <option ng-repeat="c in categories" value="{{c.id}}">{{c.name}}</option>
      </select>
      <label for="category">Category</label>
  </p>

  <p>
      <select id="town" ng-model="adData.townId">
          <option value="null">(None)</option>
          <option ng-repeat="t in towns" value="{{t.id}}">{{t.name}}</option>
      </select>
      <label for="town">Town</label>
  </p>

  <p>
    <label for="image">Image:</label>
    <input type="file" id="image"
           onchange="angular.element(this).scope().fileSelected(this)" />
    <div class="image-box">
        <p>Image Preview</p>
    </div>
  </p>


  <p>
      <a ng-click="publishAd(adData)" class="button">Publish</a>
      <a href="#/user/ads" class="button">Cancel</a>
  <p>
</div>
