<pagination total-items="ads.numItems" ng-model="adsParams.startPage"
  items-per-page="adsParams.pageSize" ng-change="reloadAds()"
  max-size="9" boundary-links="true">
</pagination>

<table border="1">
	<tr>
		<th ng-click="loadUsersBy('UserName')">Username</th>
		<th ng-click="loadUsersBy('Name')">Name</th>
		<th ng-click="loadUsersBy('Email')">Email</th>
		<th ng-click="loadUsersBy('Phone')">Phone</th>
		<th ng-click="loadUsersBy('Action')">Action</th>
	</tr>
	<tr ng-repeat="user in users.users">
		<td>{{user.userName}}</td>
		<td>{{user.name}}</td>
		<td>{{user.email}}</td>
		<td>{{user.phone}}</td>
		<td>{{user.action}}</td>
	</tr>
</table>

<div ng-if="users.users.length==0" class="box no-data">
    No ads found.
</div>
