<div class="box">
    <h2>Change Password</h2>
    <p>
        <label for="oldPassword">Old Password:</label>
        <input type="password" id="oldPassword" ng-model="userData.oldPassword" required />
    </p>
    <p>
        <label for="newPassword">Password:</label>
        <input type="password" id="password" ng-model="userData.newPassword" required />
    </p>
    <p>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" ng-model="userData.confirmPassword" required />
    </p>
    <p>
    	<a ng-click="changePassword(userData)" class="button">Change</a>
    	<a href="#/user/profile" class="button">Cancel</a>
    </p>
</div>
