<div class="box">
    <h2>Edit</h2>
    <p>
        <label for="name">Name:</label>
        <input type="text" id="name" value="{{user.name}}" ng-model="user.name" required />
    </p>
    <p>
        <label for="email">Email:</label>
        <input pattern="^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$" type="text" id="email" value="{{user.email}}" ng-model="user.email" required />
    </p>
    <p>
        <label for="phone">Phone:</label>
        <input pattern="[0-9]+" type="text" id="phone" value="{{user.phoneNumber}}" ng-model="user.phoneNumber" required />
    </p>
    <p>
        <label for="town">Town:</label>
        <select id="town" ng-model="user.townId">
            <option ng-repeat="town in towns" value="{{town.id}}" ng-selected="{{user.townId == town.id}}">{{town.name}}</option>
        </select>
    </p>
    <p ng-if="authService.isAdmin()">
        <label for="isAdmin">is Admin:</label>
        <input type="checkbox" id="isAdmin">
    </p>
    <p>
        <a href="#/ads/user/edit/changePassword" class="button">Change Password</a>
        <a ng-click="editProfile(user)" class="button">Edit</a>
        <a href="#/" class="button">Cancel</a>
    <p>
</div>
