<pagination total-items="categories.numItems" ng-model="adsParams.startPage"
  items-per-page="adsParams.pageSize" ng-change="getCategories()"
  max-size="9" boundary-links="true">
</pagination>

<h2>Categories</h2>
<ul type="none">
	<li ng-repeat="category in categories.categories">
		<div class="form-group">
		  <input class="form-control" ng-model="category.username" type="text">
		  <a class="btn btn-info" ng-click="editCategory(category.id, category.username)">Edit</a>
		  <a href="#/admin/categories/delete/{{category.id}}"  class="btn btn-info" ng-click="deleteCategory(category.id)">Delete</a>
		</div>
	</li>	
</ul>
<pagination total-items="categories.numItems" ng-model="adsParams.startPage"
  items-per-page="adsParams.pageSize" ng-change="getCategories()"
  max-size="9" boundary-links="true">
</pagination>

<a href="#/admin/categories/add/category" class="btn btn-info">Add Category</a>
